.app-container {
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .home-container {
    padding-top: 64px;
    padding-bottom: 66px;
  }
}
.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 188px;
}
@media screen and (min-width: 768px) {
  .loader-container {
    height: 320px;
  }
}
.slider-container {
  padding: 0px;
  margin-bottom: 16px;
  display: block;
  align-self: center;
  width: 100%;
  height: 188px;
}
@media screen and (min-width: 768px) {
  .slider-container {
    width: 750px;
    height: 320px;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    width: 1240px;
    height: 350px;
  }
}

.carousel-img {
  height: 175px;
}

@media screen and (min-width: 768px) {
  .carousel-img {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .carousel-img {
    height: 350px;
  }
}
.slick-dots li button::before {
  font-size: 12px;
  color: #000000;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: #f7931e;
  opacity: 1;
  font-size: 20px;
}

.restaurants-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 740px;
}
.home-filter-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.home-details-container {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .home-details-container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .home-details-container {
    width: 1240px;
  }
}

.home-description-container {
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .home-description-container {
    justify-content: flex-end;
  }
}

.home-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #183b56;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 32px;
  }
}
.home-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #64748b;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .home-description {
    font-size: 16px;
  }
}
.filter-container {
  display: flex;
  align-items: center;
  width: 184px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .filter-container {
    align-items: flex-end;
    height: 24px;
    width: 220px;
  }
}

.filter-logo {
  color: #475569;
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.sort-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .sort-heading {
    align-self: center;
    width: 60px;
  }
}

.select-element {
  color: #475569;
  min-width: 80px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'DM Sans';
  font-style: normal;
  border: none;
  background-color: transparent;
}

.restaurants-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .restaurants-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .restaurants-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1240px;
  }
}

.pagination-counter-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 16px;
  align-self: center;
}
.btn {
  background-color: transparent;
  border: 1px solid;
  text-align: center;
  height: 25px;
}

.pagination-icon {
  text-align: center;
  margin-top: 5px;
}

.pages-class {
  height: 24px;
  font-family: Bree Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #334155;
  margin-left: 3px;
  margin-right: 3px;
}

@media screen and (min-width: 750px) {
  .btn {
    background-color: transparent;
    border: 1px solid;
    text-align: center;
    height: 30px;
    width: 30px;
  }
  .pagination-icon {
    font-size: 15px;
  }

  .pages-class {
    font-size: 19px;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.not-found-img {
  width: 140px;
  height: 155px;
}
.not-found-details-container {
  width: 300px;
  max-width: 800px;
  margin-top: 30px;
}
.not-found-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1e293b;
}
.not-found-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #475569;
}

.home-button {
  width: 98px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  border: none;
}
@media screen and (min-width: 768px) {
  .not-found-img {
    width: 269px;
    height: 297px;
  }
  .not-found-details-container {
    width: 800px;
  }
  .not-found-heading {
    font-size: 32px;
  }
  .not-found-description {
    font-size: 20px;
  }
  .home-button {
    width: 123px;
    height: 48px;
    font-size: 14px;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #334155;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.search-element {
  border: none;
  background-color: transparent;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  width: 200px;
  color: #183b56;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  border-left: 2px solid #183b56;
  text-align: center;
}
.search-icon {
  height: 20px;
  width: 20px;
  color: #183b56;
}
