.nav-bar-bg-container {
  height: 64px;

  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-bar-bg-container {
    height: 96px;
  }
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .nav-header {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .nav-header {
    width: 1140px;
  }
}

.nav-bar-logo-container {
  display: flex;
  align-items: center;
}
.nav-bar-logo {
  width: 35px;
  height: 28px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .nav-bar-logo {
    width: 48px;
    height: 38px;
  }
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-bar-logo-heading {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: #f7931e;
}
@media screen and (min-width: 768px) {
  .logo-heading {
    font-size: 24px;
  }
}

.icon {
  width: 18px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
}

.desktop-view-nav-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-view-nav-bar {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .mobile-view-nav-bar {
    display: none;
  }
}

.nav-items {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 24px;
  background-color: transparent;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #334155;

  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav-link {
    margin-right: 32px;
    text-decoration: none;
  }
}

.active-link {
  margin-right: 24px;
  background-color: transparent;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #f7931e;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .active-link {
    margin-right: 32px;
    text-decoration: none;
  }
}
.close-icon {
  height: 20px;
  width: 20px;
}

.logout-button {
  width: 73px;
  height: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background: #f7931e;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.nav-items-hidden-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-right: 26px;
  padding-top: 18px;
  padding-bottom: 18px;
}
